<footer class="footer">
  <span>{{ site.footerText }}</span>
  <a href="{{ site.baseurl }}/static/xml/rss.xml">RSS订阅</a>
  {%- comment %} 请保留主题来源，么么哒~ {% endcomment %}
  <br>
  <span>Theme By</span>
  <a href="https://github.com/TMaize/tmaize-blog">TMaize</a>
  <br>
  <a href="https://icp.gov.moe/?keyword=20240006" target="_blank">萌ICP备20240006号</a>
  {%- if site.extCount %}
    <span>总访问量</span>
    <span id="busuanzi_value_site_pv"></span>
  {% endif %}
  <div class="footer-btn theme-toggler hide">
    <i class="svg-icon icon-theme-light"></i>
  </div>
  <div class="footer-btn to-top">
    <i class="svg-icon icon-arrow-top"></i>
  </div>
</footer>
